<div class="container text-center">
    <h1>About Page</h1>
    <p>We are devmatch, Our company focuses on creating an exclusive community 
    for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, 
    consectetur adipisicing elit. Ipsa, architecto, nostrum laudantium dolore 
    quis iure dolorem aliquid nihil tenetur iusto qui laboriosam numquam placeat 
    esse aut eligendi quaerat cumque alias.</p>
</div>